In [2]:
import pandas as pd
import numpy as np
from sklearn import tree

import graphviz
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df = pd.read_csv('C:/Users/G V Swetha/Desktop/Decision_Tree_Risk_Data.csv')
df

  Savings  Assets  Income Credit_Risk
0  Medium    High      75        Good
1     Low     Low      50         Bad
2    High  Medium      25         Bad
3  Medium  Medium      50        Good
4     Low  Medium     100        Good
5    High    High      25        Good
6     Low     Low      25         Bad
7  Medium  Medium      75        Good

In [4]:
#Using mapping 

df['Savings'] = df['Savings'].map({'Low' : 0 , 'Medium' : 1 , 'High' : 2})
df['Assets'] = df['Assets'].map({'Low' : 0 , 'Medium' : 1 , 'High' : 2})
df['Credit_Risk'] = df['Credit_Risk'].map({'Good' : 1 , 'Bad' : 0})

In [5]:
x= df.iloc[:,0:3]

In [6]:
x

   Savings  Assets  Income
0        1       2      75
1        0       0      50
2        2       1      25
3        1       1      50
4        0       1     100
5        2       2      25
6        0       0      25
7        1       1      75

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Savings      8 non-null      int64
 1   Assets       8 non-null      int64
 2   Income       8 non-null      int64
 3   Credit_Risk  8 non-null      int64
dtypes: int64(4)
memory usage: 384.0 bytes

In [8]:
y= df.iloc[:,3]

In [9]:
y

0    1
1    0
2    0
3    1
4    1
5    1
6    0
7    1
Name: Credit_Risk, dtype: int64

In [10]:
clf=tree.DecisionTreeClassifier(random_state=2,criterion='entropy')

In [11]:
clf.fit(x,y)

DecisionTreeClassifier(criterion='entropy', random_state=2)

In [12]:
dot_data=tree.export_graphviz(clf,out_file=None,feature_names=x.columns,filled=True,rounded=True,special_characters=True)

In [13]:
#graph = graphviz.Source(dot_data)

In [14]:
#graph

In [15]:
dot_data

'digraph Tree {\nnode [shape=box, style="filled, rounded", color="black", fontname=helvetica] ;\nedge [fontname=helvetica] ;\n0 [label=<Assets &le; 0.5<br/>entropy = 0.954<br/>samples = 8<br/>value = [3, 5]>, fillcolor="#b0d8f5"] ;\n1 [label=<entropy = 0.0<br/>samples = 2<br/>value = [2, 0]>, fillcolor="#e58139"] ;\n0 -> 1 [labeldistance=2.5, labelangle=45, headlabel="True"] ;\n2 [label=<Savings &le; 1.5<br/>entropy = 0.65<br/>samples = 6<br/>value = [1, 5]>, fillcolor="#61b1ea"] ;\n0 -> 2 [labeldistance=2.5, labelangle=-45, headlabel="False"] ;\n3 [label=<entropy = 0.0<br/>samples = 4<br/>value = [0, 4]>, fillcolor="#399de5"] ;\n2 -> 3 ;\n4 [label=<Assets &le; 1.5<br/>entropy = 1.0<br/>samples = 2<br/>value = [1, 1]>, fillcolor="#ffffff"] ;\n2 -> 4 ;\n5 [label=<entropy = 0.0<br/>samples = 1<br/>value = [1, 0]>, fillcolor="#e58139"] ;\n4 -> 5 ;\n6 [label=<entropy = 0.0<br/>samples = 1<br/>value = [0, 1]>, fillcolor="#399de5"] ;\n4 -> 6 ;\n}'

tree.plot_tree(clf)

plt.show()

In [16]:
#from matplotlib import pyplot as plt
#plt.figure(figsize=(10,10))
#tree.plot_tree(clf,filled=True,feature_names=x.columns);

In [17]:
plt.render("image.png")

AttributeError: module 'matplotlib.pyplot' has no attribute 'render'

In [ ]:
plt.savefig("image.png")