In [2]:
#Import Pacakges
import numpy as np
import pandas as pd

In [16]:
#Read file
df = pd.read_csv('C:/Users/G V Swetha/Desktop/Decision_Tree_Risk_Data.csv')
df

  Savings  Assets  Income Credit_Risk
0  Medium    High      75        Good
1     Low     Low      50         Bad
2    High  Medium      25         Bad
3  Medium  Medium      50        Good
4     Low  Medium     100        Good
5    High    High      25        Good
6     Low     Low      25         Bad
7  Medium  Medium      75        Good

In [17]:
#Data Exploration
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Savings      8 non-null      object
 1   Assets       8 non-null      object
 2   Income       8 non-null      int64
 3   Credit_Risk  8 non-null      object
dtypes: int64(1), object(3)
memory usage: 384.0+ bytes

In [21]:
df['Credit_Risk']=df['Credit_Risk'].map({'Good':1},{'Bad':0})

In [22]:
df

  Savings  Assets  Income  Credit_Risk
0  Medium    High      75          NaN
1     Low     Low      50          NaN
2    High  Medium      25          NaN
3  Medium  Medium      50          NaN
4     Low  Medium     100          NaN
5    High    High      25          NaN
6     Low     Low      25          NaN
7  Medium  Medium      75          NaN

In [24]:
# Method 2 - Using the for loop 
df = pd.read_csv('C:/Users/G V Swetha/Desktop/Decision_Tree_Risk_Data.csv')

for x in df.columns:
    if df[x].dtype == "object":
        df[x]=pd.Categorical(df[x]).codes

In [26]:
df.columns

Index(['Savings', 'Assets', 'Income', 'Credit_Risk'], dtype='object')

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Savings      8 non-null      int8
 1   Assets       8 non-null      int8
 2   Income       8 non-null      int64
 3   Credit_Risk  8 non-null      int8
dtypes: int64(1), int8(3)
memory usage: 216.0 bytes

In [28]:
df = pd.read_csv('C:/Users/G V Swetha/Desktop/Decision_Tree_Risk_Data.csv')
df

  Savings  Assets  Income Credit_Risk
0  Medium    High      75        Good
1     Low     Low      50         Bad
2    High  Medium      25         Bad
3  Medium  Medium      50        Good
4     Low  Medium     100        Good
5    High    High      25        Good
6     Low     Low      25         Bad
7  Medium  Medium      75        Good

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Savings      8 non-null      object
 1   Assets       8 non-null      object
 2   Income       8 non-null      int64
 3   Credit_Risk  8 non-null      object
dtypes: int64(1), object(3)
memory usage: 384.0+ bytes